<head>
  <title>Flask Frame</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/common.css') }}" />
</head> 
<body>
<header>
{% if part %}
    {{part}}
{% else %}
    Home
{% endif %}
</header>
<nav>
{% include 'sidebar.html' %}
</nav> 

<article>도서 안내
  <section>- Youtube -
    <form method="post">
        <input type="hidden" name="func" value="youtube"/>
        API KEY:
        <input type="text" name="apikey" /><br/>
        검색어:
        <input type="text" name="keyword" /><br/>
        <input type="submit" />
    </form>
	<img src="{{ url_for('static',filename='img/logo.png') }}" />
</section>
  <section>- 추천도서
    <ul><li>D. Morley, C. Parker, Understanding Computers 15th Ed.</li>  
            <li>최윤철, 임순범, 소셜미디어 시대의 인터넷 이해</li>
    </ul>
  </section>
</article>
<aside>이벤트<br/><p>📕주목도서</p><p>🖐작가와의 만남</p></aside>
<footer>작성자: 배은석</footer>
</body>